{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["babel-plugin-styled-components", { "ssr": true }],
    ["babel-plugin-module-resolver", {
      "root": "./",
      "alias": {
        "components": "./components",
        "pages": "./pages",
        "css": "./css",
        "getlinks-ui": "./components/getlinks-ui",
        "lib": "./lib"
      }
    }]
  ]
}